certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cx_Freeze==7.1.0.post0
evdev==1.7.1
filelock==3.14.0
gevent==24.2.1
greenlet==3.0.3
gTTS==2.5.1
idna==3.7
patchelf==0.17.2.1
PyAudio==0.2.14
pydub==0.25.1
pygame==2.5.2
pynput==1.7.7
python-xlib==0.33
requests==2.32.3
six==1.16.0
SpeechRecognition==3.10.4
typing_extensions==4.12.0
urllib3==2.2.1
websocket-client==1.8.0
zope.event==5.0
zope.interface==6.4.post2
