[submodule "client/update"]
	path = client/update
	url = https://github.com/themw123/python_updater
[submodule "backend/update"]
	path = backend/updater
	url = https://github.com/themw123/python_updater
